[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
cyndilib = {editable = true, path = "."}

[dev-packages]
cython = "*"
ipython = "*"
kivy = {extras = ["base"], version = "*"}
pytest = "*"
pytest-profiling = "*"
snakeviz = "*"
sphinx = "*"
furo = "*"
psutil = "*"

[requires]
python_version = "3.10"
