name: Build Wheels

on:
  push:
    branches: [ main ]
    paths:
    - "pyproject.toml"
    - "setup.py"
    - "setup.cfg"
    - "src/wrapper/**"
    - ".github/workflows/build_wheels.yml"

  pull_request:
    branches: [ main ]
    paths:
    - "pyproject.toml"
    - "setup.py"
    - "setup.cfg"
    - "src/wrapper/**"
    - ".github/workflows/build_wheels.yml"

  workflow_dispatch:
    inputs:
      skip_tests:
        description: "Skip cibuildwheel tests"
        required: true
        type: boolean
      os_type:
        description: "OS"
        default: "all"
        type: choice
        options:
        - macos-latest
        - ubuntu-latest
        - windows-latest
        - all
      allow_deploy:
        description: "Deploy to PyPI"
        required: true
        type: boolean


jobs:
  build_wheels:
    name: Build wheels on ${{ matrix.os }}_${{ matrix.python-version }}-${{ matrix.arch }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
        - os: macos-13
          arch: x86_64
          python-version: "cp3{9,10,11,12,13}"
        - os: macos-14
          arch: arm64
          python-version: "cp3{9,10,11,12,13}"
        - os: ubuntu-latest
          arch: x86_64
          python-version: "cp3{9,10,11,12,13}"
        - os: windows-latest
          arch: AMD64
          python-version: "cp3{9,10,11,12,13}"
        - os: ubuntu-24.04-arm
          arch: aarch64
          python-version: "cp3{9,10,11,12,13}"

    steps:
      - uses: actions/checkout@v3

      - name: Install uv
        uses: astral-sh/setup-uv@v5

      - uses: actions/setup-python@v5
        with:
          python-version: 3.12
        if: runner.os == 'macOS' && runner.arch == 'ARM64'

      - name: Set cibuildwheel env
        id: cibuildwheel_env
        run: |
          CIBW_TEST_SKIP="cp38-macosx*"
          if [ "${{ inputs.skip_tests }}" == "true" ]; then
            echo "skip_tests is true"
            CIBW_TEST_SKIP="*"
          fi
          echo "test_skip=$CIBW_TEST_SKIP" >> $GITHUB_OUTPUT
        shell: bash

      - name: Debug env step
        run: |
          echo "test_skip = ${{ steps.cibuildwheel_env.outputs.test_skip }}"
          echo "skip_build = ${{ steps.cibuildwheel_env.outputs.skip_build }}"
        shell: bash

      - name: Build wheels
        id: build_wheel
        uses: pypa/cibuildwheel@v2.22.0
        env:
          CIBW_BUILD: ${{ matrix.python-version }}-*
          CIBW_ARCHS: ${{ matrix.arch }}
          CIBW_TEST_SKIP: ${{ steps.cibuildwheel_env.outputs.test_skip }}
        if: ${{ inputs.os_type }} != "" && (${{ inputs.os_type }} == matrix.os || ${{ inputs.os_type }} == "all")
        #    ...
        # with:
        #   package-dir: .
        #   output-dir: wheelhouse
        #   config-file: "{package}/pyproject.toml"

      - uses: actions/upload-artifact@v4
        if: ${{ steps.build_wheel.outcome }} == "success"
        with:
          path: ./wheelhouse/*.whl
          name: wheel-${{ matrix.os }}-${{ matrix.python-version }}-${{ matrix.arch }}

  deploy:
      name: 'Deploy to PyPI'
      needs: [build_wheels]
      runs-on: ubuntu-latest
      if: ${{ inputs.allow_deploy }}
      permissions:
        id-token: write
      steps:
      - uses: actions/download-artifact@v4
        with:
          pattern: wheel-*
          path: dist
          merge-multiple: true

      - name: Publish to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
